@import "colors/essential.css";

html { background-color: var(--c-bg);
	overscroll-behavior-inline: none;
}

body {
	color: var(--c-text);
	font-family: -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	margin-block-end: 10em;
	max-inline-size: 55rem;
	margin-inline: auto;
}

img {
	display: block;
	margin-inline: auto;
	max-inline-size: 100%;
}

h1 { font-size: 3em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.33em; }
h5 { font-size: 1.17em; }
h6 { font-size: 1em; }
h1, h2, h3, h4, h5, h6 { margin-block-start: 1em; margin-block-end: 0.25em; }
p { margin-block: 0.5em; }

@media screen and (max-width: calc(55rem + 10vi)) {
	body { margin-block-start: 5vi; margin-inline: 5vi; }
	h1 { margin-block-start: 5vi; }
}

hgroup :is(h1, h2, h3, h4, h5, h6) { margin-block-end: 0; }
hgroup p {
	font-weight: bold;
	margin-block-start: 0;
	margin-block-end: 1em;
}

div {
	margin-inline: auto;
}

div, p, h1, h2, h3, h4, h5, h6, figure, form { text-align: center; }

a { color: var(--c-link); text-decoration: none; }
a:hover, a:focus-visible { color: var(--c-linkh); text-decoration: underline; }
a:active { color: var(--c-linka); text-decoration: underline; }

figcaption {
	margin-block-end: 0.25em;
}

figure {
	margin-inline: auto;
	margin-block-end: 2em;
	break-inside: avoid-page;
}

figure > * {
	max-inline-size: 100%;
}

:is(ul, ol):where(:not(:is(ul, ol) :is(ul, ol))) {
	inline-size: fit-content;
	padding: 0;
	margin-inline: auto;
}

:is(ul, ol) > li:has( > details) {
	list-style: none;
}

:is(ul, ol) > li > details > summary {
	list-style-position: outside;
	font-weight: 500;
}

:is(ul, ol) :is(ul, ol) {
	padding-inline-start: 1em;
}