@import "colors/essential.css";

html { background-color: var(--c-bg); }

body {
	color: var(--c-text);
	padding-inline: 5vi;
	font-family: -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	margin-block-end: 5rem;
}

img {
	display: block;
	margin-inline: auto;
	max-inline-size: 80vi;
}

h1 { font-size: 3em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.33em; }
h5 { font-size: 1.17em; }
h6 { font-size: 1em; }
h1, h2, h3, h4, h5, h6 { margin-block-start: 1em; margin-block-end: 0.25em; }
p { margin-block: 0.5em; }

hgroup :is(h1, h2, h3, h4, h5, h6) { margin-block-end: 0; }
hgroup p {
	font-weight: bold;
	margin-block-end: 1em;
}

div {
	margin-inline: auto;
}

div, p, h1, h2, h3, h4, h5, h6, figure, form { text-align: center; }

a { color: var(--c-link); text-decoration: none; }
a:hover, a:focus { color: var(--c-linkh); text-decoration: underline; }
a:active { color: var(--c-linka); text-decoration: underline; }

figcaption {
	margin-block-end: 0.25em;
}

figure {
	margin-inline: auto;
	margin-block-end: 2em;
	break-inside: avoid-page;
	max-inline-size: 80vi;
}

figure > * {
	max-width: 100%;
}