@import "colors.css";

html {
	background-color: var(--c-bg);
}

body {
	color: var(--c-text);
	padding-inline: 5vw;
	font-family: -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

img {
	display: block;
	margin-inline: auto;
	max-width: 80vw;
}

div, p, h1, h2, h3, h4, h5, h6, figure {
	text-align: center;
}

div {
	margin-inline: auto;
}

a {
	color: var(--c-blue);
}

a:hover, a:focus {
	color: var(--c-blue-active);
}

figure {
	margin-inline: 0;
	break-inside: avoid-page;
}