@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");
@import "colors.css";

:root {
	--font: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	--kimclweb-1rem: 1rem;
	font-size: 8.8rem;
}

@media screen and (max-width: 480px), screen and (max-width: 30.8rem) {
	:root {
		font-size: calc(100vw / 3.5);
	}
}

* {
	scrollbar-width: none;
	scroll-behavior: smooth;
}

body {
	background-color: var(--c-bg);
	margin: 0;
	font-family: var(--font);
}

header {
	padding: 0.25rem;
	display: flex;
	flex-wrap: nowrap;
	gap: 0.25rem;
	align-items: center;
	justify-content: left;
}

.title {
	display: block;
	color: var(--c-text);
	font-size: 0.6rem;
	line-height: 80%;
	margin: 0;
}

.tile.logo {
	padding: 0;
	border: 0;
	background: none;
	width: 1rem;
	flex-shrink: 0;
	touch-action: manipulation;
}

#logo-img {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	user-select: none;
}

a {
	text-decoration: none;
	color: var(--c-text);
	font-weight: 600;
}

.tiles {
	padding: 0.25rem;
	display: flex;
	flex-wrap: wrap;
	gap: 0.25rem;
	justify-content: center;
}

.tile {
	--dglow0: rgb(from var(--c-ltext) r g b / 0.25);
	--dglow1: var(--dglow0);
	--dglow2: var(--dglow0);
	--dglow3: var(--dglow0);
	--dglow4: var(--dglow0);
	--lglow0: oklch(from var(--dglow0) calc(1.2413 - l) c h / calc(0.7 * alpha)); /* 1.2413 = #FAFAFA + #232323 */
	--lglow1: oklch(from var(--dglow1) calc(1.2413 - l) c h / calc(0.7 * alpha));
	--lglow2: oklch(from var(--dglow2) calc(1.2413 - l) c h / calc(0.7 * alpha));
	--lglow3: oklch(from var(--dglow3) calc(1.2413 - l) c h / calc(0.7 * alpha));
	--lglow4: oklch(from var(--dglow4) calc(1.2413 - l) c h / calc(0.7 * alpha));
	--glow0: var(--lglow0);
	--glow1: var(--lglow1);
	--glow2: var(--lglow2);
	--glow3: var(--lglow3);
	--glow4: var(--lglow4);
	
	transition: transform 0.2s, box-shadow 0.2s;
	display: block;
	position: relative;
	z-index: 1;
	width: 3rem;
	aspect-ratio: 1;
	border-radius: 0.15rem;
	overflow: hidden;
	box-shadow: -0.02rem 0.02rem 0.02rem color-mix(in srgb, var(--c-dtext) 30%, transparent),
	-0.03rem 0.03rem 0.04rem color-mix(in srgb, var(--c-dtext) 10%, transparent);
	/*box-shadow: 0 0 0.1rem 0 transparent,
	-0.75rem -0.75rem 0.1rem -0.75rem transparent,
	0.75rem -0.75rem 0.1rem -0.75rem transparent,
	-0.75rem 0.75rem 0.1rem -0.75rem transparent,
	0.75rem 0.75rem 0.1rem -0.75rem transparent;*/
}

@media (prefers-color-scheme: dark) {
	.tile {
		--glow0: var(--dglow0);
		--glow1: var(--dglow1);
		--glow2: var(--dglow2);
		--glow3: var(--dglow3);
		--glow4: var(--dglow4);
	}
}

.tile::after {
	content: '';
	position: absolute;
	inset: 0;
	border-radius: inherit;
	box-shadow: inset -0.02rem 0.02rem 0.02rem color-mix(in srgb, var(--c-lbg) 30%, transparent);
	transition: transform 0.2s, box-shadow 0.2s;
	pointer-events: none;
}

.tile:hover {
	/*box-shadow: 0 0 0.15rem 0 var(--glow0),
	-0.75rem -0.75rem 0.1rem -0.75rem var(--glow1),
	0.75rem -0.75rem 0.1rem -0.75rem var(--glow2),
	-0.75rem 0.75rem 0.1rem -0.75rem var(--glow3),
	0.75rem 0.75rem 0.1rem -0.75rem var(--glow4);*/
	box-shadow: -0.02rem 0.02rem 0.02rem color-mix(in srgb, var(--c-dbg) 50%, transparent),
	-0.03rem 0.03rem 0.04rem color-mix(in srgb, var(--c-dbg) 20%, transparent);
	transform: scale(1.02);
}

.tile:hover::after {
	box-shadow: inset -0.02rem 0.02rem 0.02rem color-mix(in srgb, var(--c-lbg) 50%, transparent);
	/*box-shadow: inset 0 0 0 transparent;*/
}

.tile.double-tile {
	width: 6.25rem;
	height: 3rem;
}

.tile-img {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.pixel {
	image-rendering: pixelated;
}

.tilted {
	transform: scale(1.6) rotate3d(-1,1,1,45deg);
}

@keyframes hue-rotate {
	from {
		filter: hue-rotate(0deg);
	}
	to {
		filter: hue-rotate(360deg);
	}
}