@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-gov-dynamic-subset.min.css");
@import "colors/essential.css";

:root {
	--font: "Pretendard GOV Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

* { scrollbar-width: none; scroll-behavior: smooth; }

html { height: 100%; background-color: var(--c-bg); }
html:has(#wrapper) { height: 100vh; overscroll-behavior: none; }

body {
	height: 100%;
	margin: 0;
	font-family: var(--font);
	color: var(--c-text);
}
body:has(> #wrapper) {
	height: 100vh;
	overscroll-behavior: none;
	overflow: clip;
}

#wrapper {
	position: absolute;
	width: 100%;
	height: 100vh;
	overscroll-behavior: none;
	overflow-x: clip;
	overflow-y: auto;
	contain: strict;
}

@media print {
	body, #wrapper { overflow: visible !important; height: auto !important; }

	#wrapper { contain: none !important; }
}

header {
	padding: 35px;
	display: flex;
	flex-wrap: nowrap;
	gap: 35px;
	align-items: center;
	justify-content: left;
}

.title {
	font-size: 6rem;
	line-height: 80%;
	margin: 0;
	word-break: keep-all;
}

.tile.logo {
	padding: 0;
	border: 0;
	background: none;
	width: 140px;
	flex-shrink: 0;
	touch-action: manipulation;
}

@media screen and (max-width: 480px) {
	header {
		padding-top: 70px;
		flex-direction: column;
	}

	.tile.logo {
		width: 175px;
		margin-left: auto;
		margin-right: auto;
	}

	.title {
		text-align: center;
	}
}

#logo-img {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	user-select: none;
}

.about { margin-top: calc(100vh - 210px); }

a { text-decoration: none; font-weight: 600; }

.tiles {
	padding: 35px;
	display: flex;
	flex-wrap: wrap;
	gap: 35px;
	justify-content: center;
}

.tile {
	--dglow: rgb(from var(--c-ltext) r g b / 50%);
	--dglow1: var(--dglow);
	--dglow2: var(--dglow);
	--dglow3: var(--dglow);
	--dglow4: var(--dglow);
	--glow1: light-dark(oklch(from var(--dglow1) calc(1.185 - l) c h / calc(0.9 * alpha)),var(--dglow1)); /* 1.185 = 98.5% + 30% */
	--glow2: light-dark(oklch(from var(--dglow2) calc(1.185 - l) c h / calc(0.9 * alpha)),var(--dglow2));
	--glow3: light-dark(oklch(from var(--dglow3) calc(1.185 - l) c h / calc(0.9 * alpha)),var(--dglow3));
	--glow4: light-dark(oklch(from var(--dglow4) calc(1.185 - l) c h / calc(0.9 * alpha)),var(--dglow4));
	
	transition: transform 0.2s;
	display: block;
	position: relative;
	z-index: 1;
	width: 350px;
	aspect-ratio: 1;
	border-radius: 21px;
	box-shadow: -7px 7px 7px rgb(from var(--c-black) r g b / 30%),
		-14px 14px 14px rgb(from var(--c-black) r g b / 10%);
	break-inside: avoid-page;
}
.tile:hover, .tile:focus { transform: scale(1.02); }

.tile::before {
	content: '';
	position: absolute;
	pointer-events: none;
	inset: -5.6px;
	border-radius: 26.6px;
	background: conic-gradient(from -45deg, var(--glow1), var(--glow2), var(--glow4), var(--glow3), var(--glow1));
	filter: blur(2.8px);
	transition: opacity 0.2s, display 0.2s;
	transition-behavior: allow-discrete;
	display: none;
	opacity: 0;
}

.tile:hover::before {
	display: block;
	opacity: 1;
	@starting-style {
		opacity: 0;
	}
}

.tile::after {
	content: '';
	position: absolute;
	pointer-events: none;
	inset: 0;
	border-radius: inherit;
	box-shadow: inset -7px 7px 7px rgb(from var(--c-lbg) r g b / 30%);
}

.tile.double-tile { width: 735px; height: 350px; }
.tile.about-tile { width: 400px; height: 250px; }

.tile-img-wrapper {
	position: absolute;
	inset: 0;
	border-radius: inherit;
	overflow: clip;
	pointer-events: none;
}

.tile-img {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.tile-img.pixel { image-rendering: pixelated; }
.tile-img.tilted { transform: scale(1.6) rotate3d(-1,1,1,45deg); }

.tile-icon {
	display: block;
	position: absolute;
	top: 27%;
	left: 25%;
	width: 50%;
	height: 50%;
	object-fit: contain;
	object-position: center;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.tile-flex {
	position: absolute;
	inset: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 21px;
	color: var(--c-ltext);
}

.item-eyebrow {
	margin: 0;
	opacity: 0.8;
	margin-bottom: 0.8px;
	font-size: 0.875rem;
	font-weight: 600;
	line-height: 1.28571;
	letter-spacing: .011em;
}

.item-headline {
	margin: 0;
	margin-bottom: 12px;
	font-size: 2.5rem;
	font-weight: 600;
	line-height: 1.1;
	letter-spacing: -.003em;
}

.item-description {
	opacity: 0.8;
	margin: 0;
	margin-bottom: 24px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.47059;
	letter-spacing: -.022em;
}

.item-cta {
	margin-top: auto;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.47059;
	letter-spacing: -.022em;
}

@keyframes hue-rotate {
	from { filter: hue-rotate(0deg); }
	to { filter: hue-rotate(360deg); }
}
