@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-gov-dynamic-subset.min.css");
@import "colors/essential.css";

:root {
	--font: "Pretendard GOV Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	--tiles-1rem: 1rem;
	font-size: 8.8rem;
}

@media screen and (max-width: 480px), screen and (max-width: 30.8rem) {
	:root { font-size: calc(100vw / 3.5); }
}

* { scrollbar-width: none; scroll-behavior: smooth; }

html { height: 100%; background-color: var(--c-bg); }
html:has(#wrapper) { height: 100vh; overscroll-behavior: none; }

body {
	height: 100%;
	margin: 0;
	font-family: var(--font);
	color: var(--c-text);
}
body:has(> #wrapper) {
	height: 100vh;
	overscroll-behavior: none;
	overflow: clip;
}

#wrapper {
	position: absolute;
	width: 100%;
	height: 100vh;
	overscroll-behavior: none;
	overflow-inline: clip;
	overflow-block: auto;
	contain: strict;
}

@media print {
	body, #wrapper { overflow: visible !important; height: auto !important; }

	#wrapper { contain: none !important; }
}

header {
	padding: 0.25rem;
	display: flex;
	flex-wrap: nowrap;
	gap: 0.25rem;
	align-items: center;
	justify-content: left;
}

.title {
	font-size: 0.6rem;
	line-height: 80%;
	margin: 0;
	word-break: keep-all;
}

.tile.logo {
	padding: 0;
	border: 0;
	background: none;
	width: 1rem;
	flex-shrink: 0;
	touch-action: manipulation;
}

#logo-img {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	user-select: none;
}

.about { margin-top: calc(100vh - 1.5rem); }

.about-tile { height: 1.8rem; }

a { text-decoration: none; font-weight: 600; }

.tiles {
	padding: 0.25rem;
	display: flex;
	flex-wrap: wrap;
	gap: 0.25rem;
	justify-content: center;
}

.tile {
	--dglow: rgb(from var(--c-ltext) r g b / 50%);
	--dglow1: var(--dglow);
	--dglow2: var(--dglow);
	--dglow3: var(--dglow);
	--dglow4: var(--dglow);
	--glow1: light-dark(oklch(from var(--dglow1) calc(1.185 - l) c h / calc(0.9 * alpha)),var(--dglow1)); /* 1.185 = 98.5% + 30% */
	--glow2: light-dark(oklch(from var(--dglow2) calc(1.185 - l) c h / calc(0.9 * alpha)),var(--dglow2));
	--glow3: light-dark(oklch(from var(--dglow3) calc(1.185 - l) c h / calc(0.9 * alpha)),var(--dglow3));
	--glow4: light-dark(oklch(from var(--dglow4) calc(1.185 - l) c h / calc(0.9 * alpha)),var(--dglow4));
	
	transition: transform 0.2s;
	display: block;
	position: relative;
	z-index: 1;
	width: 3rem;
	aspect-ratio: 1;
	border-radius: 0.15rem;
	box-shadow: -0.05rem 0.05rem 0.05rem rgb(from var(--c-black) r g b / 30%),
		-0.1rem 0.1rem 0.1rem rgb(from var(--c-black) r g b / 10%);
	break-inside: avoid-page;
}
.tile:hover, .tile:focus { transform: scale(1.02); }

.tile::before {
	content: '';
	position: absolute;
	pointer-events: none;
	inset: -0.04rem;
	border-radius: 0.19rem;
	background: conic-gradient(from -45deg, var(--glow1), var(--glow2), var(--glow4), var(--glow3), var(--glow1));
	filter: blur(0.02rem);
	transition: opacity 0.2s, display 0.2s;
	transition-behavior: allow-discrete;
	display: none;
	opacity: 0;
}

.tile:hover::before {
	display: block;
	opacity: 1;
	@starting-style {
		opacity: 0;
	}
}

.tile::after {
	content: '';
	position: absolute;
	pointer-events: none;
	inset: 0;
	border-radius: inherit;
	box-shadow: inset -0.05rem 0.05rem 0.05rem rgb(from var(--c-lbg) r g b / 30%);
}

.tile.double-tile { width: 6.25rem; height: 3rem; }

.tile-img-wrapper {
	position: absolute;
	inset: 0;
	border-radius: inherit;
	overflow: clip;
	pointer-events: none;
}

.tile-img {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.tile-img.pixel { image-rendering: pixelated; }
.tile-img.tilted { transform: scale(1.6) rotate3d(-1,1,1,45deg); }

.tile-icon {
	display: block;
	position: absolute;
	top: 27%;
	left: 25%;
	width: 50%;
	height: 50%;
	object-fit: contain;
	object-position: center;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.tile-flex {
	position: absolute;
	inset: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0.2rem;
	color: var(--c-ltext);
}

.item-eyebrow {
	margin: 0;
	opacity: 0.8;
	margin-bottom: 0.057rem;
	font-size: 0.1rem;
	font-weight: 600;
	line-height: 1.28571;
	letter-spacing: .011em;
}

.item-headline {
	margin: 0;
	margin-bottom: 0.086rem;
	font-size: 0.286rem;
	font-weight: 600;
	line-height: 1.1;
	letter-spacing: -.003em;
}

.item-description {
	opacity: 0.8;
	margin: 0;
	margin-bottom: 0.171rem;
	font-size: 0.121rem;
	font-weight: 400;
	line-height: 1.47059;
	letter-spacing: -.022em;
}

.item-cta {
	margin-top: auto;
	font-size: 0.121rem;
	font-weight: 400;
	line-height: 1.47059;
	letter-spacing: -.022em;
}

@keyframes hue-rotate {
	from { filter: hue-rotate(0deg); }
	to { filter: hue-rotate(360deg); }
}
