#new {
	outline: 1px solid var(--c-w-border);
	min-height: 1lh;
}
#new:has( .edit-inside) { outline-style: auto; }

#new .e { margin-inline-start: 0.05em; }
#new .e::before {
	content: '#';
	text-indent: 0;
	margin-inline-end: 0.05em;
	opacity: 0.85;
}
#new .e.ref::before { content: 'ref. #'; }
#new .e.add::before { content: 'Add'; opacity: 1; }
#new .e.add.add1::before { content: 'Add1'; }
#new .e.add.add3::before { content: 'Add3'; }
#new b.star::before, #new b.star::after { content: '★'; }
#new q::before, #new q::after { content: '\''; }
#new q.exact::before, #new q.exact::after { content: '"'; }
#new q.star::before, #new q.star::after { content: '★'; }
#new span.namu::after { content: '(...)'; }
#new span.qm::after { content: '?'; }

span.error {
	color: var(--c-r-text);
	background-color: var(--c-r-bg);
}

.block {
	text-decoration: wavy red underline;
}

:is(.cbefore, .cafter, .edit-inside):not(.e) {
	border-radius: 0.2em;
	padding: 0.05em;
	margin: -0.05em;
}

.cbefore { outline: 1px dotted var(--c-text); }
.cafter { outline: 1px dotted var(--c-text); }

.edit-inside {
	color: var(--c-y-text);
	background-color: var(--c-y-bg);
	outline: 1px solid var(--c-y-border);
}

.wrapper.edit-inside {
	color: var(--c-b-text);
	background-color: var(--c-b-bg);
	outline: 1px solid var(--c-b-border);
}

@keyframes error-flash {
	from { box-shadow: 0 0 0 0.5em oklch(from var(--c-r-bga) l c h / 50%); background-color: oklch(from var(--c-r-bga) l c h / 50%); }
	to { box-shadow: 0 0 0 0.5em transparent; background-color: transparent; }
}

.makebefore, .makeafter { --cbd: var(--c-g-border); }
:is(.makebefore, .makeafter):hover { --cbd: var(--c-g-borderh); }
:is(.makebefore, .makeafter):active { --cbd: var(--c-g-bordera); }

.makebefore, .makeafter { display: none; }
.loadnothing + :is(.makebefore, .makeafter) { display: unset; }

.maketest { --cbd: var(--c-p-border); }
.maketest:hover { --cbd: var(--c-p-borderh); }
.maketest:active { --cbd: var(--c-p-bordera); }
.maketest::before {
	clip-path: polygon(0 0, 100% 0, 100% 16%, 58% 16%, 58% 100%, 42% 100%, 42% 16%, 0 16%);
}

h2, .p {
	position: relative;
}

.cr_icons {
	position: sticky;
	inset-block: 0.9lh;
	float: inline-start;
	shape-outside: polygon(0% 0%);
	text-indent: 0;
	transform: translate(calc(-100% - 0.1ic), 2%);
}

.cr_icon {
	font-size: 1em;
	font-family: inherit;
	width: 0.9lh;
	height: 0.9lh;
	padding: 0;
	border: none;
	background: none;
}

.cr_icon svg {
	width: 100%;
	height: 100%;
	--bd: var(--cbd);
	--w: 0.1ic;
}

.delete { --cbd: var(--c-gray2); }
.delete:is(:hover,:focus-visible) { --cbd: var(--c-r-text); }
.delete:active { --cbd: var(--c-r-texta); }
.insert { --cbd: var(--c-gray2); }
.insert:is(:hover,:focus-visible) { --cbd: var(--c-g-text); }
.insert:active { --cbd: var(--c-g-texta); }
.cancel { --cbd: var(--c-gray2); }
.cancel:is(:hover,:focus-visible) { --cbd: var(--c-o-text); }
.cancel:active { --cbd: var(--c-o-texta); }
.refresh { --cbd: var(--c-gray2); }
.refresh:is(:hover,:focus-visible) { --cbd: var(--c-y-text); }
.refresh:active { --cbd: var(--c-y-texta); }
.edit { --cbd: var(--c-gray2); }
.edit:is(:hover,:focus-visible) { --cbd: var(--c-p-text); }
.edit:active { --cbd: var(--c-p-texta); }

p:has( + .editnewicons) {
	opacity: 0.6;
}