#new {
	outline: 1px solid var(--c-0-bd);
	min-block-size: 1lh;
	text-align: justify;
	text-indent: 1ic;
	margin-block: 0.2lh;
	scroll-margin-block: 5rem;
	border-radius: 0.25em;
}
#new:has( .edit-inside) { outline-style: auto; }

#new .e { margin-inline-start: 0.05em; }
#new .e::before {
	content: '#';
	text-indent: 0;
	margin-inline-end: 0.05em;
	opacity: 0.85;
}
#new .e.ref::before { content: 'ref. #'; }
#new .e.add::before { content: 'Add'; opacity: 1; }
#new .e.add.add1::before { content: 'Add1'; }
#new .e.add.add3::before { content: 'Add3'; }
#new b.star::before, #new b.star::after { content: '★'; }
#new q::before, #new q::after { content: '\''; }
#new q.exact::before, #new q.exact::after { content: '"'; }
#new q.star::before, #new q.star::after { content: '★'; }
#new span.namu::after { content: '(...)'; }
#new span.qm::after { content: '?'; }

span.error {
	color: var(--c-1-c);
	background-color: var(--c-1-bg);
}

.block {
	text-decoration: wavy red underline;
}

:is(.cbefore, .cafter, .edit-inside):not(.e) {
	border-radius: 0.2em;
	padding: 0.05em;
	margin: -0.05em;
}

.cbefore { outline: 1px dotted var(--c-text); }
.cafter { outline: 1px dotted var(--c-text); }

.edit-inside {
	color: var(--c-3-c);
	background-color: var(--c-3-bg);
	outline: 1px solid var(--c-3-bd);
}

.wrapper.edit-inside {
	color: var(--c-7-c);
	background-color: var(--c-7-bg);
	outline: 1px solid var(--c-7-bd);
}

@keyframes error-flash {
	from { box-shadow: 0 0 0 0.5em oklch(from var(--c-1-bga) l c h / 50%); background-color: oklch(from var(--c-1-bga) l c h / 50%); }
	to { box-shadow: 0 0 0 0.5em transparent; background-color: transparent; }
}

.makebefore, .makeafter { --cbd: var(--c-5-bd); }
:is(.makebefore, .makeafter):hover { --cbd: var(--c-5-bdh); }
:is(.makebefore, .makeafter):active { --cbd: var(--c-5-bda); }

.makebefore, .makeafter { display: none; }
.loadnothing + :is(.makebefore, .makeafter) { display: unset; }

.maketest { --cbd: var(--c-8-bd); }
.maketest:hover { --cbd: var(--c-8-bdh); }
.maketest:active { --cbd: var(--c-8-bda); }
.maketest::before {
	clip-path: polygon(0 0, 100% 0, 100% 16%, 58% 16%, 58% 100%, 42% 100%, 42% 16%, 0 16%);
}

.cr_icons {
	position: sticky;
	inset-block: 0.9lh;
	float: inline-start;
	shape-outside: polygon(0% 0%);
	text-indent: 0;
	transform: translate(calc(-100% - 0.1ic), 2%);
}

.cr_icon {
	font-size: 1em;
	font-family: inherit;
	width: 0.9lh;
	height: 0.9lh;
	padding: 0;
	border: none;
	background: none;
}

.cr_icon svg {
	width: 100%;
	height: 100%;
	--bd: var(--cbd);
	--w: 0.1ic;
}

.delete { --cbd: var(--c-gray2); }
.delete:is(:hover,:focus-visible) { --cbd: var(--c-1-c); }
.delete:active { --cbd: var(--c-1-ca); }
.insert { --cbd: var(--c-gray2); }
.insert:is(:hover,:focus-visible) { --cbd: var(--c-5-c); }
.insert:active { --cbd: var(--c-5-ca); }
.cancel { --cbd: var(--c-gray2); }
.cancel:is(:hover,:focus-visible) { --cbd: var(--c-2-c); }
.cancel:active { --cbd: var(--c-2-ca); }
.refresh { --cbd: var(--c-gray2); }
.refresh:is(:hover,:focus-visible) { --cbd: var(--c-3-c); }
.refresh:active { --cbd: var(--c-3-ca); }
.edit { --cbd: var(--c-gray2); }
.edit:is(:hover,:focus-visible) { --cbd: var(--c-8-c); }
.edit:active { --cbd: var(--c-8-ca); }

p:has( + .editnewicons) { opacity: 0.6; }