@import "/global/colors/full.css";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-gov-dynamic-subset.min.css");
@import "/global/font/nanumgothiccoding.css";

body {
	font-family: "Pretendard GOV Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	margin-block-end: 10em;
	max-inline-size: 55rem;
	margin-inline: auto;
}

figure {
	margin-block-start: 0.5lh;
	margin-block-end: 1lh;
	max-inline-size: 55rem;
}

figcaption {
	text-align: start;
}

h2, h3, h4, h5, h6 {
	text-align: start;
}

p {
	text-align: justify;
	text-indent: 1ic;
	margin-block: 0.2lh;
	border-radius: 0.25em;
	scroll-margin-block-start: 10rem;
}

hr {
	border-color: transparent;
	margin-block: 0.2lh;
	height: 1lh;
	border: none;
}

.e {
	--bg: transparent;
	--bd: var(--c-text);
	--c: var(--c-text);
	border-radius: 0.2em;
	background-color: var(--bg);
	--cbd: var(--bd);
	box-shadow: inset 0 0 0 1px var(--cbd);
	color: var(--c);
	line-height: 0.5;
	padding-inline: 0.25em;
	text-indent: 0;
	text-decoration-color: var(--c);
}
.e:hover, .e:focus {
	background-color: var(--bgh); --cbd: var(--bdh); color: var(--ch);
	text-decoration: none;
	cursor: pointer;
}
.e:active { background-color: var(--bga); --cbd: var(--bda); color: var(--ca); text-decoration: none; }

.e > .before {
	text-indent: 0;
	margin-inline-end: 0.05em;
	opacity: 0.85;
}

.e.add { --bg: var(--c-0-bg); --bd: var(--c-0-bd); --c: var(--c-0-c);
	--bgh: var(--c-0-bgh); --bdh: var(--c-0-bdh); --ch: var(--c-0-ch);
	--bga: var(--c-0-bga); --bda: var(--c-0-bda); --ca: var(--c-0-ca); }
/* 6.8 */
.e.w { --bg: color-mix(in oklch, var(--c-6-bg), var(--c-7-bg) 80%); --bd: color-mix(in oklch, var(--c-6-bd), var(--c-7-bd) 80%); --c: color-mix(in oklch, var(--c-6-c), var(--c-7-c) 80%);
	--bgh: color-mix(in oklch, var(--c-6-bgh), var(--c-7-bgh) 80%); --bdh: color-mix(in oklch, var(--c-6-bdh), var(--c-7-bdh) 80%); --ch: color-mix(in oklch, var(--c-6-ch), var(--c-7-ch) 80%);
	--bga: color-mix(in oklch, var(--c-6-bga), var(--c-7-bga) 80%); --bda: color-mix(in oklch, var(--c-6-bda), var(--c-7-bda) 80%); --ca: color-mix(in oklch, var(--c-6-ca), var(--c-7-ca) 80%); }
.e.d { --bg: var(--c-8-bg); --bd: var(--c-8-bd); --c: var(--c-8-c);
	--bgh: var(--c-8-bgh); --bdh: var(--c-8-bdh); --ch: var(--c-8-ch);
	--bga: var(--c-8-bga); --bda: var(--c-8-bda); --ca: var(--c-8-ca); }
.e.s { --bg: var(--c-1-bg); --bd: var(--c-1-bd); --c: var(--c-1-c);
	--bgh: var(--c-1-bgh); --bdh: var(--c-1-bdh); --ch: var(--c-1-ch);
	--bga: var(--c-1-bga); --bda: var(--c-1-bda); --ca: var(--c-1-ca); }
.e.i { --bg: var(--c-2-bg); --bd: var(--c-2-bd); --c: var(--c-2-c);
	--bgh: var(--c-2-bgh); --bdh: var(--c-2-bdh); --ch: var(--c-2-ch);
	--bga: var(--c-2-bga); --bda: var(--c-2-bda); --ca: var(--c-2-ca); }
.e.t { --bg: var(--c-3-bg); --bd: var(--c-3-bd); --c: var(--c-3-c);
	--bgh: var(--c-3-bgh); --bdh: var(--c-3-bdh); --ch: var(--c-3-ch);
	--bga: var(--c-3-bga); --bda: var(--c-3-bda); --ca: var(--c-3-ca); }
.e.g { --bg: var(--c-5-bg); --bd: var(--c-5-bd); --c: var(--c-5-c);
	--bgh: var(--c-5-bgh); --bdh: var(--c-5-bdh); --ch: var(--c-5-ch);
	--bga: var(--c-5-bga); --bda: var(--c-5-bda); --ca: var(--c-5-ca); }

.e.add > .before {
	opacity: 1;
	margin-inline-end: 0;
}

b.star { font-weight: inherit; }

em { text-decoration: underline; font-style: inherit; }

q::before, q::after { content: none; }

data.placeholder {
	font-family: 'Nanum Gothic Coding';
	font-weight: bold;
	font-size: 0.85em;
	background: var(--c-0-bg);
	--bg: var(--c-0-bg);
	box-shadow: inset 0 0 0 1px var(--c-text);
	padding-inline: 0.25em;
	padding-block: 0.15em;
	position: relative;
	inset-block-end: 0.1em;
	border-radius: 0.2em;
}

span.wrapper {
	border-radius: 0.2em;
	padding: 0.05em;
	margin: -0.05em;
	--c: var(--c-text);
	--bg: var(--c-bg);
	--bd: var(--c-text);
}

span.wrapper:has( > :is(.e, span.qm):is(:hover, .selected)) {
	color: var(--c);
	background-color: var(--bg);
	outline: 1px solid var(--bd);
}

span.wrapper:has( > .add:is(:hover, .selected)) { --c: var(--c-0-c); --bg: var(--c-0-bg); --bd: var(--c-0-bd); }
span.wrapper:has( > .w:is(:hover, .selected)) { --c: color-mix(in oklch, var(--c-6-c), var(--c-7-c) 80%); --bg: color-mix(in oklch, var(--c-6-bg), var(--c-7-bg) 80%); --bd: color-mix(in oklch, var(--c-6-bd), var(--c-7-bd) 80%); }
span.wrapper:has( > .d:is(:hover, .selected)) { --c: var(--c-8-c); --bg: var(--c-8-bg); --bd: var(--c-8-bd); }
span.wrapper:has( > .s:is(:hover, .selected)) { --c: var(--c-1-c); --bg: var(--c-1-bg); --bd: var(--c-1-bd); }
span.wrapper:has( > .i:is(:hover, .selected)) { --c: var(--c-2-c); --bg: var(--c-2-bg); --bd: var(--c-2-bd); }
span.wrapper:has( > .t:is(:hover, .selected)) { --c: var(--c-3-c); --bg: var(--c-3-bg); --bd: var(--c-3-bd); }
span.wrapper:has( > .g:is(:hover, .selected)) { --c: var(--c-5-c); --bg: var(--c-5-bg); --bd: var(--c-5-bd); }

sup {
	vertical-align: text-top;
	font-size: 0.7em;
	font-weight: 550;
}

sub {
	vertical-align: baseline;
	font-size: 0.7em;
	font-weight: 550;
}

span.qm {
	font-size: 0.8em;
	font-weight: 550;
	vertical-align: text-top;
}

hgroup p {
	text-indent: 0;
	margin-block-start: 0;
	margin-block-end: 0.5lh;
}

span.weekspan {
	background-color: light-dark(rgb(255, 255, 0),rgb(110, 90, 0));
	--bg: light-dark(color-mix(in srgb, rgb(255, 255, 0) 30%, var(--c-bg)),color-mix(in srgb, rgb(110, 90, 0) 30%, var(--c-bg)));
}

time.weekwrite {
	color: var(--c-0-c);
}

data.weekcode {
	background-color: light-dark(rgb(0 255 0),rgb(0, 100, 0));
	--bg: light-dark(color-mix(in srgb, rgb(0 255 0) 30%, var(--c-bg)),color-mix(in srgb, rgb(0, 100, 0) 30%, var(--c-bg)));
}

span.weekend {
	background-color: light-dark(rgb(0 255 0),rgb(0, 100, 0));
}

data:hover, time:hover, span.qm:hover {
	text-decoration: underline;
	text-decoration-style: dotted;
	cursor: help;
}

@media screen and (max-width: 480px) {
	data, time, span.qm {
		text-decoration: underline;
		text-decoration-style: dotted;
		cursor: help;
	}
}

dialog {
	padding: 0.5em;
	margin: 0;
	--c: var(--c-text);
	--bd: var(--c-text);
	--bg: var(--c-bg);
	--bgh: var(--c-0-bg);
	--bga: var(--c-0-bgh);
	color: var(--c);
	inline-size: max-content;
	max-inline-size: 60vi;
	word-break: keep-all;
	box-sizing: border-box;
	border-width: 1.5px;
	border-color: var(--bd);
	background-color: var(--bg);
	position: absolute;
	outline-offset: 4px;
	transform: translate(-50%, 0);
	transition: opacity 0.2s ease-out, visibility 0.2s;
	transition-behavior: allow-discrete;
	text-align: center;
	opacity: 1;
	@starting-style {
		opacity: 0;
	}
}

dialog:not(:popover-open) {
	display: initial;
	visibility: hidden;
}

dialog button {
	color: inherit;
	background-color: inherit;
	border: none;
	border-radius: 4px;
	box-shadow: inset 0 0 0 1.5px var(--bd);
	line-height: 1;
	padding-block: 0.2em;
	margin-inline-end: 2px;
	font-size: 1em;
}

dialog button:hover {
	color: var(--ch, var(--c));
	background-color: var(--bgh, var(--bg));
	box-shadow: inset 0 0 0 1.5px var(--bdh, var(--bd));
}

dialog button:active {
	color: var(--ca, var(--c));
	background-color: var(--bga, var(--bg));
	box-shadow: inset 0 0 0 1.5px var(--bda, var(--bd));
}

@keyframes bg-flash {
	from { box-shadow: 0 0 0 0.75em rgb(255 185 0 / 50%); background-color: rgb(255 185 0 / 50%); }
	to { box-shadow: 0 0 0 0.75em transparent; background-color: transparent; }
}

.cr_buttons { margin-block: 2.5rem; }

.cr_button {
	width: 4rem;
	height: 4rem;
	padding: 0.25rem;
	border-radius: 2rem;
	--cbd: var(--c-7-bd);
	border: 4px solid transparent;
	background: none;
	position: relative;
}
.cr_button:hover { --cbd: var(--c-7-bdh); }
.cr_button:active { --cbd: var(--c-7-bda); }

.cr_button svg {
	width: 100%;
	height: 100%;
	--bd: var(--cbd);
	--w: 4px;
}

.loadnothing { --cbd: var(--c-1-bd); }
.loadnothing:hover { --cbd: var(--c-1-bd); }
.loadnothing:active { --cbd: var(--c-1-bd); }

section {
	border-radius: 0.25em;
	scroll-margin-block: 10rem;
}

.to-top {
	box-sizing: content-box;
	width: 2.5rem;
	height: 2.5rem;
	padding: 0.125rem;
	position: sticky;
	inset-block: 0;
	float: inline-end;
	shape-outside: polygon(100% 0);
	border-radius: 50%;
	background: none;
	border: 4px solid transparent;
	--cbd: var(--c-0-bd);
	transform: translate(3.5rem, -2rem);
}
.to-top:hover { --cbd: var(--c-0-bdh); }
.to-top:active { --cbd: var(--c-0-bda); }

.to-top > svg {
	width: 100%;
	height: 100%;
	--bd: var(--cbd);
	--w: 4px;
}

ins {
	background-color: var(--c-1-bgh);
	color: var(--c-1-c);
}

del {
	color: var(--c-gray7);
}

.hidden {
	display: none;
}

@media print {
	body {
		margin: 0 !important;
		padding: 0 !important;
	}
	@page {
		size: A4 !important;
		margin: 12.5mm !important;
		@top-left { font-family: 'Nanum Gothic Coding'; font-weight: bold; font-size: 0.8rem; content: '끾기록·cycelog'; margin-inline-start: -8mm; }
		@top-right { font-family: 'Nanum Gothic Coding'; font-weight: bold; font-size: 0.8rem; content: "    " counter(page) "/" counter(pages); text-align: right; margin-inline-end: -8mm; }
		@bottom-left { font-family: 'Nanum Gothic Coding'; font-weight: bold; font-size: 0.8rem; content: var(--server); margin-inline-start: -8mm; }
		@bottom-right { font-family: 'Nanum Gothic Coding'; font-weight: bold; font-size: 0.8rem; content: var(--href); text-align: right; margin-inline-end: -8mm; }
	}
	h1 { margin-block-start: 0 !important; }
	p { orphans: 2 !important; } /* i guess you have to not use Firefox when printing */
	.cr_buttons, .cr_button, .cr_icons { display: none !important; }
}