@import "/global/colors/full.css";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-gov-dynamic-subset.min.css");

body {
	font-family: "Pretendard GOV Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	margin-block-end: 10em;
	padding-inline: 3ic;
	max-inline-size: 55rem;
	margin-inline: auto;
}

figure {
	margin-block-start: 0.5lh;
	margin-block-end: 1lh;
}

figcaption {
	text-align: start;
}

h2, h3, h4, h5, h6 {
	text-align: start;
}

p {
	text-align: justify;
	text-indent: 1ic;
	margin-block: 0.2lh;
	border-radius: 0.25em;
	scroll-margin-block-start: 10rem;
}

hr {
	border-color: transparent;
}

a {
	--bg: transparent;
	--bd: var(--c-text);
	--c: var(--c-text);
	border-radius: 0.2em;
	background-color: var(--bg);
	--cbd: var(--bd);
	box-shadow: inset 0 0 0 1px var(--cbd);
	color: var(--c);
	line-height: 0.5;
	padding-inline: 0.25em;
	text-indent: 0;
	text-decoration-color: var(--c);
}
a:hover, a:focus { background-color: var(--bgh); --cbd: var(--bdh); color: var(--ch); text-decoration: none; }
a:active { background-color: var(--bga); --cbd: var(--bda); color: var(--ca); text-decoration: none; }

a > .before {
	text-indent: 0;
	margin-inline-end: 0.05em;
	opacity: 0.85;
}

a.add { --bg: var(--c-w-bg); --bd: var(--c-w-border); --c: var(--c-w-text);
	--bgh: var(--c-w-bgh); --bdh: var(--c-w-borderh); --ch: var(--c-w-texth);
	--bga: var(--c-w-bga); --bda: var(--c-w-bordera); --ca: var(--c-w-texta); }
a.w { --bg: var(--c-b-bg); --bd: var(--c-b-border); --c: var(--c-b-text);
	--bgh: var(--c-b-bgh); --bdh: var(--c-b-borderh); --ch: var(--c-b-texth);
	--bga: var(--c-b-bga); --bda: var(--c-b-bordera); --ca: var(--c-b-texta); }
a.d { --bg: var(--c-p-bg); --bd: var(--c-p-border); --c: var(--c-p-text);
	--bgh: var(--c-p-bgh); --bdh: var(--c-p-borderh); --ch: var(--c-p-texth);
	--bga: var(--c-p-bga); --bda: var(--c-p-bordera); --ca: var(--c-p-texta); }
a.s { --bg: var(--c-r-bg); --bd: var(--c-r-border); --c: var(--c-r-text);
	--bgh: var(--c-r-bgh); --bdh: var(--c-r-borderh); --ch: var(--c-r-texth);
	--bga: var(--c-r-bga); --bda: var(--c-r-bordera); --ca: var(--c-r-texta); }
a.i { --bg: var(--c-o-bg); --bd: var(--c-o-border); --c: var(--c-o-text);
	--bgh: var(--c-o-bgh); --bdh: var(--c-o-borderh); --ch: var(--c-o-texth);
	--bga: var(--c-o-bga); --bda: var(--c-o-bordera); --ca: var(--c-o-texta); }
a.t { --bg: var(--c-y-bg); --bd: var(--c-y-border); --c: var(--c-y-text);
	--bgh: var(--c-y-bgh); --bdh: var(--c-y-borderh); --ch: var(--c-y-texth);
	--bga: var(--c-y-bga); --bda: var(--c-y-bordera); --ca: var(--c-y-texta); }
a.g { --bg: var(--c-g-bg); --bd: var(--c-g-border); --c: var(--c-g-text);
	--bgh: var(--c-g-bgh); --bdh: var(--c-g-borderh); --ch: var(--c-g-texth);
	--bga: var(--c-g-bga); --bda: var(--c-g-bordera); --ca: var(--c-g-texta); }

a.add > .before {
	opacity: 1;
	margin-inline-end: 0;
}

b.star { font-weight: inherit; }

em { text-decoration: underline; font-style: inherit; }

q::before, q::after { content: none; }

data.placeholder {
	font-family: monospace;
	background: var(--c-w-bg);
	--bg: var(--c-w-bg);
	box-shadow: inset 0 0 0 1px var(--c-text);
	padding-inline: 0.4em;
	padding-block: 0.05em;
	position: relative;
	bottom: 0.1em;
	border-radius: 0.2em;
}

span.wrapper {
	border-radius: 0.2em;
	padding: 0.05em;
	margin: -0.05em;
}

span.wrapper:has( > :is(a.ref,a.add,span.qm):is(:hover, .selected)) {
	color: var(--c-b-text);
	background-color: var(--c-b-bg);
	outline: 1px solid var(--c-b-border);
}

sup {
	vertical-align: text-top;
	font-size: 0.7em;
	font-weight: 550;
}

sub {
	vertical-align: baseline;
	font-size: 0.7em;
	font-weight: 550;
}

span.qm {
	font-size: 0.8em;
	font-weight: 550;
	vertical-align: text-top;
}

hgroup p {
	text-indent: 0;
	margin-block-start: 0;
	margin-block-end: 0.5lh;
}

span.weekspan {
	background-color: light-dark(rgb(255, 255, 0),rgb(110, 90, 0));
	--bg: light-dark(color-mix(in srgb, rgb(255, 255, 0) 30%, var(--c-bg)),color-mix(in srgb, rgb(110, 90, 0) 30%, var(--c-bg)));
}

time.weekwrite {
	color: var(--c-w-text);
}

data.weekcode {
	background-color: light-dark(rgb(0 255 0),rgb(0, 100, 0));
	--bg: light-dark(color-mix(in srgb, rgb(0 255 0) 30%, var(--c-bg)),color-mix(in srgb, rgb(0, 100, 0) 30%, var(--c-bg)));
}

span.weekend {
	background-color: light-dark(rgb(0 255 0),rgb(0, 100, 0));
}

data:hover, time:hover, span.qm:hover {
	text-decoration: underline;
	text-decoration-style: dotted;
	cursor: help;
}

@media screen and (max-width: 480px) {
	data, time, span.qm {
		text-decoration: underline;
		text-decoration-style: dotted;
		cursor: help;
	}
}

dialog {
	padding: 0.5em;
	margin: 0;
	--c: var(--c-text);
	--bd: var(--c-text);
	--bg: var(--c-bg);
	--bgh: var(--c-w-bg);
	--bga: var(--c-w-bgh);
	color: var(--c);
	inline-size: max-content;
	max-inline-size: 60vi;
	word-break: keep-all;
	box-sizing: border-box;
	border-width: 1.5px;
	border-color: var(--bd);
	background-color: var(--bg);
	position: absolute;
	outline-offset: 4px;
	transform: translate(-50%, 0);
	transition: opacity 0.2s ease-out, visibility 0.2s;
	transition-behavior: allow-discrete;
	text-align: center;
	opacity: 1;
	@starting-style {
		opacity: 0;
	}
}

dialog:not(:popover-open) {
	display: initial;
	visibility: hidden;
}

dialog button {
	color: inherit;
	background-color: inherit;
	border: none;
	border-radius: 4px;
	box-shadow: inset 0 0 0 1.5px var(--bd);
	line-height: 1;
	padding-block: 0.2em;
	margin-inline-end: 2px;
	font-size: 1em;
}

dialog button:hover {
	color: var(--ch, var(--c));
	background-color: var(--bgh, var(--bg));
	box-shadow: inset 0 0 0 1.5px var(--bdh, var(--bd));
}

dialog button:active {
	color: var(--ca, var(--c));
	background-color: var(--bga, var(--bg));
	box-shadow: inset 0 0 0 1.5px var(--bda, var(--bd));
}

@keyframes bg-flash {
	from { box-shadow: 0 0 0 0.75em rgb(255 185 0 / 50%); background-color: rgb(255 185 0 / 50%); }
	to { box-shadow: 0 0 0 0.75em transparent; background-color: transparent; }
}

.cr_buttons { margin-block: 2.5rem; }

.cr_button {
	aspect-ratio: 1;
	width: 4rem;
	border-radius: 2rem;
	--cbd: var(--c-b-border);
	border: 4px solid var(--cbd);
	background: none;
	position: relative;
}
.cr_button:hover { --cbd: var(--c-b-borderh); }
.cr_button:active { --cbd: var(--c-b-bordera); }

.cr_button::before {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	inset: 0;
	margin: auto;
	background-color: var(--cbd);
}

.loadbefore::before {
	clip-path: polygon(42% 100%, 42% 30.62%, 11.31% 61.31%, 0 50%, 50% 0, 100% 50%, 88.69% 61.31%, 58% 30.62%, 58% 100%);
}

.loadafter::before {
	clip-path: polygon(42% 0%, 42% 69.38%, 11.31% 38.69%, 0 50%, 50% 100%, 100% 50%, 88.69% 38.69%, 58% 69.38%, 58% 0);
}

.loadbetween::before {
	/*clip-path: polygon(50% 0, 100% 50%, 88.69% 61.31%, 50% 22.62%, 22.62% 50%, 50% 77.38%, 77.38% 50%, 88.69% 61.31%, 50% 100%, 0 50%);*/
	/*clip-path: polygon(11.31% 26%, 88.69% 26%, 88.69% 42%, 11.31% 42%, 11.31% 58%, 88.69% 58%, 88.69% 74%, 11.31% 74%);*/
	clip-path: polygon(25% 0, 75% 0, 75% 16%, 58% 16%, 58% 84%, 75% 84%, 75% 100%, 25% 100%, 25% 84%, 42% 84%, 42% 16%, 25% 16%);
}

.loadnothing { --cbd: var(--c-r-border); }
.loadnothing:hover { --cbd: var(--c-r-border); }
.loadnothing:active { --cbd: var(--c-r-border); }

.loadnothing::before {
	clip-path: polygon(50% 39.69%, 89.69% 0%, 100% 11.31%, 61.31% 50%, 100% 89.69%, 89.69% 100%, 50% 61.31%, 11.31% 100%, 0% 89.69%, 39.69% 50%, 0% 11.31%, 11.31% 0%);
}

section {
	border-radius: 0.25em;
	scroll-margin-block-start: 10rem;
}

.to-top {
	width: 2.5ic;
	height: 2.5ic;
	position: sticky;
	inset-block-end: 2ic;
	float: inline-end;
	border-radius: 50%;
	background: none;
	border: 3px solid var(--cbd);
	--cbd: var(--c-p-border);
}

.to-top::before {
	content: '';
	position: absolute;
	width: 18.75px;
	height: 18.75px;
	inset: 0;
	margin: auto;
	background-color: var(--cbd);
	clip-path: polygon(42% 100%, 42% 30.62%, 11.31% 61.31%, 0 50%, 50% 0, 100% 50%, 88.69% 61.31%, 58% 30.62%, 58% 100%);
}

.hidden {
	display: none;
}