@import "/global/colors/full.css";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-gov-dynamic-subset.min.css");

body {
	font-family: "Pretendard GOV Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	margin-bottom: 10em;
}

img {
	max-inline-size: 55rem;
}

figure {
	margin-block-start: 0.5lh;
	margin-block-end: 1lh;
	max-inline-size: 55rem;
}

figcaption {
	text-align: start;
}

h2, h3, h4, h5, h6 {
	max-inline-size: 55rem;
	margin-inline: auto;
	text-align: start;
}

p {
	max-inline-size: 55rem;
	margin-inline: auto;
	text-align: justify;
	text-indent: 1ic;
	margin-block: 0.2lh;
}

hr {
	border-color: transparent;
}

a {
	--bg: transparent;
	--bd: var(--c-text);
	--c: var(--c-text);
	--ch: var(--c-text);
	--ca: var(--c-text);
	border-radius: 0.2em;
	background-color: var(--bg);
	border: 1px solid var(--bd);
	color: var(--c);
	padding-inline: 0.25em;
	position: relative;
	top: 0.04em;
	text-decoration-color: var(--c);
}
a:hover { color: var(--c); text-decoration: none; }

a > .before {
	text-indent: 0;
	margin-right: 0.05em;
	opacity: 0.85;
}

a.add { --bg: var(--c-w-bg); --bd: var(--c-w-border); --c: var(--c-w-text); }
a.add:hover { --bg: var(--c-w-bgh); --bd: var(--c-w-borderh); --c: var(--c-w-texth); }
a.add:active { --bg: var(--c-w-bga); --bd: var(--c-w-bordera); --c: var(--c-w-texta); }
a.w { --bg: var(--c-b-bg); --bd: var(--c-b-border); --c: var(--c-b-text); }
a.w:hover { --bg: var(--c-b-bgh); --bd: var(--c-b-borderh); --c: var(--c-b-texth); }
a.w:active { --bg: var(--c-b-bga); --bd: var(--c-b-bordera); --c: var(--c-b-texta); }
a.d { --bg: var(--c-p-bg); --bd: var(--c-p-border); --c: var(--c-p-text); }
a.d:hover { --bg: var(--c-p-bgh); --bd: var(--c-p-borderh); --c: var(--c-p-texth); }
a.d:active { --bg: var(--c-p-bga); --bd: var(--c-p-bordera); --c: var(--c-p-texta); }
a.s { --bg: var(--c-r-bg); --bd: var(--c-r-border); --c: var(--c-r-text); }
a.s:hover { --bg: var(--c-r-bgh); --bd: var(--c-r-borderh); --c: var(--c-r-texth); }
a.s:active { --bg: var(--c-r-bga); --bd: var(--c-r-bordera); --c: var(--c-r-texta); }
a.i { --bg: var(--c-o-bg); --bd: var(--c-o-border); --c: var(--c-o-text); }
a.i:hover { --bg: var(--c-o-bgh); --bd: var(--c-o-borderh); --c: var(--c-o-texth); }
a.i:active { --bg: var(--c-o-bga); --bd: var(--c-o-bordera); --c: var(--c-o-texta); }
a.t { --bg: var(--c-y-bg); --bd: var(--c-y-border); --c: var(--c-y-text); }
a.t:hover { --bg: var(--c-y-bgh); --bd: var(--c-y-borderh); --c: var(--c-y-texth); }
a.t:active { --bg: var(--c-y-bga); --bd: var(--c-y-bordera); --c: var(--c-y-texta); }
a.g { --bg: var(--c-g-bg); --bd: var(--c-g-border); --c: var(--c-g-text); }
a.g:hover { --bg: var(--c-g-bgh); --bd: var(--c-g-borderh); --c: var(--c-g-texth); }
a.g:active { --bg: var(--c-g-bga); --bd: var(--c-g-bordera); --c: var(--c-g-texta); }

a.add > .before {
	opacity: 1;
	margin-right: 0;
}

b.star { font-weight: inherit; }

em { text-decoration: underline; font-style: inherit; }

q::before, q::after { content: none; }

data.placeholder {
	font-family: monospace;
	background: var(--c-w-bg);
	border: 1px solid var(--c-text);
	padding-inline: 0.4em;
	padding-block: 0.05em;
	position: relative;
	bottom: 0.1em;
	border-radius: 0.2em;
}

span.ref:has(a.ref:hover, a.add:hover) :is(span.reftext, a.ref, a.add) {
	text-decoration: underline;
}

sup {
	vertical-align: text-top;
	font-size: 0.7em;
	font-weight: 550;
}

sub {
	vertical-align: baseline;
	font-size: 0.7em;
	font-weight: 550;
}

span.qm {
	font-size: 0.8em;
	font-weight: 550;
	vertical-align: text-top;
}

hgroup p {
	text-indent: 0;
	margin-block-start: 0;
	margin-block-end: 0.5lh;
}

span.weekspan {
	background-color: hsl(from mark h s calc(l * 0.98) / 90%);
}

time.weekwrite {
	color: var(--c-w-text);
}

data.weekcode {
	background-color: hsl(from mark calc(h + 60) s calc(l * 0.98) / 90%);
}

span.weekend {
	background-color: hsl(from mark calc(h + 60) s calc(l * 0.98) / 90%);
}

data:hover, time:hover, span.idk:hover {
	text-decoration: dotted underline;
	cursor: help;
}

span.idk:has(span.qm:hover) {
	text-decoration: underline;
}