@import "/global/colors/full.css";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-gov-dynamic-subset.min.css");
@import "/global/font/nanumgothiccoding.css";

body {
	font-family: "Pretendard GOV Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	margin-block-end: 10em;
	max-inline-size: 55rem;
	margin-inline: auto;
}

figure {
	margin-block-start: 0.5lh;
	margin-block-end: 1lh;
	max-inline-size: 55rem;
}

figcaption {
	text-align: start;
}

h2, h3, h4, h5, h6 {
	text-align: start;
}

p {
	text-align: justify;
	text-indent: 1ic;
	margin-block: 0.2lh;
	border-radius: 0.25em;
	scroll-margin-block-start: 10rem;
}

hr {
	border-color: transparent;
	margin-block: 0.2lh;
	height: 1lh;
	border: none;
}

.e {
	--bg: transparent;
	--bd: var(--c-text);
	--c: var(--c-text);
	border-radius: 0.2em;
	background-color: var(--bg);
	--cbd: var(--bd);
	box-shadow: inset 0 0 0 1px var(--cbd);
	color: var(--c);
	line-height: 0.5;
	padding-inline: 0.25em;
	text-indent: 0;
	text-decoration-color: var(--c);
}
.e:hover, .e:focus {
	background-color: var(--bgh); --cbd: var(--bdh); color: var(--ch);
	text-decoration: none;
	cursor: pointer;
}
.e:active { background-color: var(--bga); --cbd: var(--bda); color: var(--ca); text-decoration: none; }

.e > .before {
	text-indent: 0;
	margin-inline-end: 0.05em;
	opacity: 0.85;
}

.e.add { --bg: var(--c-w-bg); --bd: var(--c-w-border); --c: var(--c-w-text);
	--bgh: var(--c-w-bgh); --bdh: var(--c-w-borderh); --ch: var(--c-w-texth);
	--bga: var(--c-w-bga); --bda: var(--c-w-bordera); --ca: var(--c-w-texta); }
.e.w { --bg: var(--c-b-bg); --bd: var(--c-b-border); --c: var(--c-b-text);
	--bgh: var(--c-b-bgh); --bdh: var(--c-b-borderh); --ch: var(--c-b-texth);
	--bga: var(--c-b-bga); --bda: var(--c-b-bordera); --ca: var(--c-b-texta); }
.e.d { --bg: var(--c-p-bg); --bd: var(--c-p-border); --c: var(--c-p-text);
	--bgh: var(--c-p-bgh); --bdh: var(--c-p-borderh); --ch: var(--c-p-texth);
	--bga: var(--c-p-bga); --bda: var(--c-p-bordera); --ca: var(--c-p-texta); }
.e.s { --bg: var(--c-r-bg); --bd: var(--c-r-border); --c: var(--c-r-text);
	--bgh: var(--c-r-bgh); --bdh: var(--c-r-borderh); --ch: var(--c-r-texth);
	--bga: var(--c-r-bga); --bda: var(--c-r-bordera); --ca: var(--c-r-texta); }
.e.i { --bg: var(--c-o-bg); --bd: var(--c-o-border); --c: var(--c-o-text);
	--bgh: var(--c-o-bgh); --bdh: var(--c-o-borderh); --ch: var(--c-o-texth);
	--bga: var(--c-o-bga); --bda: var(--c-o-bordera); --ca: var(--c-o-texta); }
.e.t { --bg: var(--c-y-bg); --bd: var(--c-y-border); --c: var(--c-y-text);
	--bgh: var(--c-y-bgh); --bdh: var(--c-y-borderh); --ch: var(--c-y-texth);
	--bga: var(--c-y-bga); --bda: var(--c-y-bordera); --ca: var(--c-y-texta); }
.e.g { --bg: var(--c-g-bg); --bd: var(--c-g-border); --c: var(--c-g-text);
	--bgh: var(--c-g-bgh); --bdh: var(--c-g-borderh); --ch: var(--c-g-texth);
	--bga: var(--c-g-bga); --bda: var(--c-g-bordera); --ca: var(--c-g-texta); }

.e.add > .before {
	opacity: 1;
	margin-inline-end: 0;
}

b.star { font-weight: inherit; }

em { text-decoration: underline; font-style: inherit; }

q::before, q::after { content: none; }

data.placeholder {
	font-family: 'Nanum Gothic Coding';
	font-weight: bold;
	font-size: 0.85em;
	background: var(--c-w-bg);
	--bg: var(--c-w-bg);
	box-shadow: inset 0 0 0 1px var(--c-text);
	padding-inline: 0.25em;
	padding-block: 0.15em;
	position: relative;
	inset-block-end: 0.1em;
	border-radius: 0.2em;
}

span.wrapper {
	border-radius: 0.2em;
	padding: 0.05em;
	margin: -0.05em;
	--c: var(--c-text);
	--bg: var(--c-bg);
	--bd: var(--c-text);
}

span.wrapper:has( > :is(.e, span.qm):is(:hover, .selected)) {
	color: var(--c);
	background-color: var(--bg);
	outline: 1px solid var(--bd);
}

span.wrapper:has( > .add:is(:hover, .selected)) { --c: var(--c-w-text); --bg: var(--c-w-bg); --bd: var(--c-w-border); }
span.wrapper:has( > .w:is(:hover, .selected)) { --c: var(--c-b-text); --bg: var(--c-b-bg); --bd: var(--c-b-border); }
span.wrapper:has( > .d:is(:hover, .selected)) { --c: var(--c-p-text); --bg: var(--c-p-bg); --bd: var(--c-p-border); }
span.wrapper:has( > .s:is(:hover, .selected)) { --c: var(--c-r-text); --bg: var(--c-r-bg); --bd: var(--c-r-border); }
span.wrapper:has( > .i:is(:hover, .selected)) { --c: var(--c-o-text); --bg: var(--c-o-bg); --bd: var(--c-o-border); }
span.wrapper:has( > .t:is(:hover, .selected)) { --c: var(--c-y-text); --bg: var(--c-y-bg); --bd: var(--c-y-border); }
span.wrapper:has( > .g:is(:hover, .selected)) { --c: var(--c-g-text); --bg: var(--c-g-bg); --bd: var(--c-g-border); }

sup {
	vertical-align: text-top;
	font-size: 0.7em;
	font-weight: 550;
}

sub {
	vertical-align: baseline;
	font-size: 0.7em;
	font-weight: 550;
}

span.qm {
	font-size: 0.8em;
	font-weight: 550;
	vertical-align: text-top;
}

hgroup p {
	text-indent: 0;
	margin-block-start: 0;
	margin-block-end: 0.5lh;
}

span.weekspan {
	background-color: light-dark(rgb(255, 255, 0),rgb(110, 90, 0));
	--bg: light-dark(color-mix(in srgb, rgb(255, 255, 0) 30%, var(--c-bg)),color-mix(in srgb, rgb(110, 90, 0) 30%, var(--c-bg)));
}

time.weekwrite {
	color: var(--c-w-text);
}

data.weekcode {
	background-color: light-dark(rgb(0 255 0),rgb(0, 100, 0));
	--bg: light-dark(color-mix(in srgb, rgb(0 255 0) 30%, var(--c-bg)),color-mix(in srgb, rgb(0, 100, 0) 30%, var(--c-bg)));
}

span.weekend {
	background-color: light-dark(rgb(0 255 0),rgb(0, 100, 0));
}

data:hover, time:hover, span.qm:hover {
	text-decoration: underline;
	text-decoration-style: dotted;
	cursor: help;
}

@media screen and (max-width: 480px) {
	data, time, span.qm {
		text-decoration: underline;
		text-decoration-style: dotted;
		cursor: help;
	}
}

dialog {
	padding: 0.5em;
	margin: 0;
	--c: var(--c-text);
	--bd: var(--c-text);
	--bg: var(--c-bg);
	--bgh: var(--c-w-bg);
	--bga: var(--c-w-bgh);
	color: var(--c);
	inline-size: max-content;
	max-inline-size: 60vi;
	word-break: keep-all;
	box-sizing: border-box;
	border-width: 1.5px;
	border-color: var(--bd);
	background-color: var(--bg);
	position: absolute;
	outline-offset: 4px;
	transform: translate(-50%, 0);
	transition: opacity 0.2s ease-out, visibility 0.2s;
	transition-behavior: allow-discrete;
	text-align: center;
	opacity: 1;
	@starting-style {
		opacity: 0;
	}
}

dialog:not(:popover-open) {
	display: initial;
	visibility: hidden;
}

dialog button {
	color: inherit;
	background-color: inherit;
	border: none;
	border-radius: 4px;
	box-shadow: inset 0 0 0 1.5px var(--bd);
	line-height: 1;
	padding-block: 0.2em;
	margin-inline-end: 2px;
	font-size: 1em;
}

dialog button:hover {
	color: var(--ch, var(--c));
	background-color: var(--bgh, var(--bg));
	box-shadow: inset 0 0 0 1.5px var(--bdh, var(--bd));
}

dialog button:active {
	color: var(--ca, var(--c));
	background-color: var(--bga, var(--bg));
	box-shadow: inset 0 0 0 1.5px var(--bda, var(--bd));
}

@keyframes bg-flash {
	from { box-shadow: 0 0 0 0.75em rgb(255 185 0 / 50%); background-color: rgb(255 185 0 / 50%); }
	to { box-shadow: 0 0 0 0.75em transparent; background-color: transparent; }
}

.cr_buttons { margin-block: 2.5rem; }

.cr_button {
	width: 4rem;
	height: 4rem;
	padding: 0.25rem;
	border-radius: 2rem;
	--cbd: var(--c-b-border);
	border: 4px solid transparent;
	background: none;
	position: relative;
}
.cr_button:hover { --cbd: var(--c-b-borderh); }
.cr_button:active { --cbd: var(--c-b-bordera); }

.cr_button svg {
	width: 100%;
	height: 100%;
	--bd: var(--cbd);
	--w: 4px;
}

.loadnothing { --cbd: var(--c-r-border); }
.loadnothing:hover { --cbd: var(--c-r-border); }
.loadnothing:active { --cbd: var(--c-r-border); }

section {
	border-radius: 0.25em;
	scroll-margin-block: 10rem;
}

.to-top {
	box-sizing: content-box;
	width: 2.5rem;
	height: 2.5rem;
	padding: 0.125rem;
	position: sticky;
	inset-block: 0;
	float: inline-end;
	shape-outside: polygon(100% 0);
	border-radius: 50%;
	background: none;
	border: 4px solid transparent;
	--cbd: var(--c-w-border);
	transform: translate(3.5rem, -2rem);
}
.to-top:hover { --cbd: var(--c-w-borderh); }
.to-top:active { --cbd: var(--c-w-bordera); }

.to-top > svg {
	width: 100%;
	height: 100%;
	--bd: var(--cbd);
	--w: 4px;
}

ins {
	background-color: var(--c-r-bgh);
	color: var(--c-r-text);
}

del {
	color: var(--c-gray6);
}

.hidden {
	display: none;
}