section {
	border-radius: 0.25em;
	scroll-margin-block: 10rem;
	padding-block-end: 1px; /* prevents margin collapse because it makes .to-top wanky */
}

@keyframes bg-flash {
	from { box-shadow: 0 0 0 0.75em rgb(255 185 0 / 50%); background-color: rgb(255 185 0 / 50%); }
	to { box-shadow: 0 0 0 0.75em transparent; background-color: transparent; }
}

.cr_buttons { margin-block: 2.5rem; }

.cr_button {
	width: 4rem;
	height: 4rem;
	padding: 0.25rem;
	border-radius: 2rem;
	--cbd: var(--c-7-i2);
	border: 4px solid transparent;
	background: none;
	position: relative;
}
.cr_button:hover { --cbd: var(--c-7-i3); }
.cr_button:active { --cbd: var(--c-7-i4); }

.cr_button svg {
	width: 100%;
	height: 100%;
	--bd: var(--cbd);
	--w: 4px;
}

.loadnothing { --cbd: var(--c-1-i2); }
.loadnothing:hover { --cbd: var(--c-1-i2); }
.loadnothing:active { --cbd: var(--c-1-i2); }

.to-top {
	box-sizing: content-box;
	width: 2.25rem;
	height: 2.25rem;
	padding: 0;
	position: sticky;
	inset-block: 0;
	float: inline-end;
	shape-outside: polygon(100% 0);
	border-radius: 20%;
	background: none;
	border: 4px solid transparent;
	--cbd: var(--c-0-i2);
	transform: translate(3rem, -2rem);
}
.to-top:hover { --cbd: var(--c-0-i3); }
.to-top:active { --cbd: var(--c-0-i4); }

.to-top > svg {
	width: 100%;
	height: 100%;
	--bd: var(--cbd);
	--w: 4px;
}

@media screen and (max-width: 480px) {
	.to-top {
		--cbd: var(--c-0-i3);
		transform: translate(0.5rem, -2rem);
		border: 4px solid var(--c-extreme);
		background-color: var(--c-extreme);
		opacity: 0.6;
	}
	.to-top:hover { --cbd: var(--c-0-i3); opacity: 0.8; }
	.to-top:active { --cbd: var(--c-0-i3); opacity: 1; }
}

@media print {
	body {
		margin: 0 !important;
		padding: 0 !important;
	}
	@page {
		size: A4 !important;
		margin: 12.5mm !important;
		@top-left { font-family: 'Nanum Gothic Coding'; font-weight: bold; font-size: 0.8rem; content: '끾기록·cycelog'; margin-inline-start: -8mm; }
		@top-right { font-family: 'Nanum Gothic Coding'; font-weight: bold; font-size: 0.8rem; content: "    " counter(page) "/" counter(pages); text-align: right; margin-inline-end: -8mm; }
		@bottom-left { font-family: 'Nanum Gothic Coding'; font-weight: bold; font-size: 0.8rem; content: var(--server); margin-inline-start: -8mm; }
		@bottom-right { font-family: 'Nanum Gothic Coding'; font-weight: bold; font-size: 0.8rem; content: var(--href); text-align: right; margin-inline-end: -8mm; }
	}
	h1 { margin-block-start: 0 !important; }
	p { orphans: 2 !important; } /* i guess you have to not use Firefox when printing */
	.cr_buttons, .cr_button, .cr_icons { display: none !important; }
}

#back {
	position: absolute;
}

.hidden {
	display: none;
}