:root {
	--base-length: min(2.5vi,5vb);
	--symbol-size: var(--base-length);
	/*line-height: var(--symbol-size);*/
}

#code {
	font-family: inherit;
	display: block;
	inline-size: 50vi;
	block-size: 20vb;
	font-size: 1.5em;
	margin-inline: auto;
}

.result-img {
	display: inline-block;
	block-size: var(--symbol-size);
	aspect-ratio: 1;
	position: relative;
}

.result-img::before {
	content: var(--data);
	block-size: 140%;
	aspect-ratio: 1;
	position: absolute;
	inset-inline-start: 50%;
	inset-block-start: 50%;
	transform: translate(-50%,-50%);
}

#result-container {
	border: 3.8px solid black;
	inline-size: calc(25 * var(--symbol-size));
	padding: calc(0.5 * var(--symbol-size));
	background-color: white;
}