@keyframes imgscroll {
    from {
        background-position: 0 0;
    }
    to {
        background-position: calc(-1 * var(--base-length)) calc(-1 * var(--base-length));
    }
}

@keyframes imgscroll2 {
    from {
        background-position: 0 0;
    }
    to {
        background-position: calc(-6 * var(--base-length)) calc(-6 * var(--base-length));
    }
}

@keyframes imgscroll3 {
    from {
        background-position: 0 calc(1.5 * var(--base-length) + 3px);
    }
    to {
        background-position: calc(-6 * var(--base-length)) calc(-4.5 * var(--base-length) + 3px);
    }
}

:root {
    --off-filter: contrast(0) brightness(195.3%);
    --bg-filter: grayscale(0.9) brightness(180%) blur(10px);
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --off-filter: contrast(0) brightness(27.3%);
        --bg-filter: grayscale(0.75) brightness(60%) blur(10px);
    }
}

html {
    overscroll-behavior: none;
    background-color: var(--c-bg);
}

body {
    position: absolute;
    left: 0;
    top: 0;
    overscroll-behavior: none;
    overflow: hidden;
    background: none;
}

main {
    overscroll-behavior: none;
    overflow: hidden;
    perspective: 1px;
    transform-style: preserve-3d;
    width: 100vw;
    height: 100vh;
}

main.on {
    overflow-y: auto;
}

.bg {
    position: absolute;
    inset: 0;
    height: 200vh;
    z-index: -1;
    transform: translateZ(-3px) scale(4);
    background: url('img/arealoop.png');
    background-size: calc(6 * var(--base-length)) calc(6 * var(--base-length));
    animation: forwards infinite linear 30s imgscroll2;
}

.bg::before {
    content: '';
    transition: backdrop-filter 1s;
    position: absolute;
    inset: 0;
    backdrop-filter: var(--off-filter);
    overflow: hidden;
}

.on .bg::before {
    backdrop-filter: none;
}

#title-row {
    transition: border-bottom 1s;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 2;
    text-align: left;
    border-bottom: 3px solid transparent;
}

.title-row-bg {
    opacity: 0;
    transition: opacity 1s;
    position: absolute;
    inset: 0;
    bottom: -3px;
    background: url('img/arealoop.png');
    background-origin: border-box;
    background-position-y: calc(1.5 * var(--base-length) + 3px);
    background-size: calc(6 * var(--base-length)) calc(6 * var(--base-length));
    border-bottom: 3px solid var(--c-grayl2);
}

.title-row-bg::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgb(from var(--c-bg) r g b / 40%);
    backdrop-filter: var(--bg-filter);
}

.on .title-row-bg {
    opacity: 1;
    animation: forwards infinite linear 30s imgscroll3;
}

#logo-img {
    transition: opacity 1s, filter 1s;
    filter: grayscale(1) blur(calc(0.05 * var(--base-length)));
    animation: forwards infinite linear 3s imgscroll;
}

.on #logo-img {
    filter: none;
}

.title {
    transition: opacity 1s;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    margin: 0;
    margin-right: calc(0.25 * var(--base-length));
    color: var(--c-text);
    font-size: calc(0.3 * var(--base-length));
    line-height: 115%;
    word-break: keep-all;
}

#title3 {
    line-height: 100%;
    font-size: calc(0.6 * var(--base-length));
}

#areatext {
    transition: opacity 1s;
    width: 100vw;
    height: 30vh;
    position: absolute;
    top: calc(50vh + 0.75 * var(--base-length));
    transform: translateY(-50%);
    object-fit: cover;
    object-position: center;
    opacity: 0;
    mix-blend-mode: overlay;
}

.on #areatext {
    opacity: 1;
}

.on.restricted #areatext {
    mix-blend-mode: normal;
    opacity: 0.5;
}

#about-row {
    transition: opacity 1s;
    margin-top: calc(100vh - 1.5 * var(--base-length));
    opacity: 0;
    mix-blend-mode: hard-light;
}

.on #about-row {
    opacity: 1;
}

.restricted #about-row {
    mix-blend-mode: normal;
}

.about-tile {
    height: calc(1.8 * var(--base-length));
    box-shadow: none;
}

.about-tile::after {
    box-shadow: none;
}

#powerdesc2, #powercta2 {
    display: none;
}

.restricted #powerdesc1, .restricted #powercta1 {
    display: none;
}

.restricted #powerdesc2, .restricted #powercta2 {
    display: revert;
}

.tile {
    --glow0: var(--c-text);
    --glow1: transparent;
    --glow2: transparent;
    --glow3: transparent;
    --glow4: transparent;
}

.tile-img {
    display: block;
    position: absolute;
    inset: 0;
}

.tile-icon {
    display: block;
    position: absolute;
    top: 27%;
    left: 25%;
    width: 50%;
    height: 50%;
    object-fit: contain;
    object-position: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.tile-flex {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: calc(0.2 * var(--base-length));
    color: var(--c-ltext);
}

.item-eyebrow {
    margin: 0;
    opacity: 0.8;
    margin-bottom: calc(0.057 * var(--base-length));

    font-size: calc(0.1 * var(--base-length));
    font-weight: 600;
    line-height: 1.28571;
    letter-spacing: .011em;
}

.item-headline {
    margin: 0;
    margin-bottom: calc(0.086 * var(--base-length));

    font-size: calc(0.286 * var(--base-length));
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: -.003em;
}

.item-description {
    opacity: 0.8;
    margin: 0;
    margin-bottom: calc(0.171 * var(--base-length));

    font-size: calc(0.121 * var(--base-length));
    font-weight: 400;
    line-height: 1.47059;
    letter-spacing: -.022em;
}

.item-cta {
    margin-top: auto;
    padding-top: calc(0.171 * var(--base-length));

    font-size: calc(0.121 * var(--base-length));
    font-weight: 400;
    line-height: 1.47059;
    letter-spacing: -.022em;
}


.notion {
    font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"
}

.notion-icon {
    display: inline-block;
    height: calc(0.286*var(--base-length));
    aspect-ratio: 1;
    border-radius: 20%;
    position: relative;
    top: calc(0.03*var(--base-length));
    background-size: cover;
}


.gdocs {
    font-family: "Google Sans",Arial,sans-serif; /* Google Sans는 아쉽게도 라이선스상 사용이 안 된다고 하네요. */
}

.rows {
    display: none;
    background: url('img/arealoop.png');
    background-origin: border-box;
    background-size: calc(6 * var(--base-length)) calc(6 * var(--base-length));
    animation: forwards infinite linear 30s imgscroll2;
    position: relative;
    border-top: 3px solid var(--c-grayl2);
}

.rows::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgb(from var(--c-bg) r g b / 40%);
    backdrop-filter: var(--bg-filter);
}

.on .rows {
    display: revert;
}