@import "essential.css";

:root, :host {
	/* Colors modified from Wikipedia */
	--c-w-text: var(--c-gray5);
	--c-w-texth: var(--c-gray6);
	--c-w-texta: var(--c-gray7);
	--c-w-bg: var(--c-gray0);
	--c-w-bgh: var(--c-gray1);
	--c-w-bga: var(--c-gray2);
	--c-w-invbg: var(--c-grayd1);
	--c-w-invbgh: var(--c-grayd2);
	--c-w-invbga: var(--c-grayd3);
	--c-w-border: var(--c-gray4);
	--c-w-borderh: var(--c-gray5);
	--c-w-bordera: var(--c-gray6);

	--c-blued3: oklch(26% 0.05 260);
	--c-blued2: oklch(34% 0.08 260);
	--c-blued1: oklch(47% 0.14 260);
	--c-blue: oklch(53% 0.16 260);
	--c-bluel1: oklch(63% 0.12 260);
	--c-bluel2: oklch(71.5% 0.1 260);
	--c-bluel3: oklch(80% 0.085 260);
	--c-bluel4: oklch(87.5% 0.06 260);
	--c-bluel5: oklch(91.5% 0.04 260);
	--c-bluel6: oklch(95.5% 0.02 260);
	--c-b-text: light-dark(var(--c-blue),var(--c-bluel2));
	--c-b-texth: light-dark(var(--c-blued1),var(--c-bluel3));
	--c-b-texta: light-dark(var(--c-blued2),var(--c-bluel4));
	--c-b-bg: light-dark(var(--c-bluel6),var(--c-blued3));
	--c-b-bgh: light-dark(var(--c-bluel5),var(--c-blued2));
	--c-b-bga: light-dark(var(--c-bluel4),var(--c-blued1));
	--c-b-invbg: var(--c-blue);
	--c-b-invbgh: var(--c-blued1);
	--c-b-invbga: var(--c-blued2);
	--c-b-border: var(--c-bluel1);
	--c-b-borderh: light-dark(var(--c-blue),var(--c-bluel2));
	--c-b-bordera: light-dark(var(--c-blued1),var(--c-bluel3));
	--c-b-bright: oklch(65% 0.19 260);
	--c-b-brighth: oklch(59% 0.175 260);
	--c-b-brighta: var(--c-blue);

	--c-purpled3: oklch(26% 0.05 287);
	--c-purpled2: oklch(34% 0.08 287);
	--c-purpled1: oklch(47% 0.14 287);
	--c-purple: oklch(53% 0.16 287);
	--c-purplel1: oklch(63% 0.12 292);
	--c-purplel2: oklch(71.5% 0.08 297);
	--c-purplel3: oklch(80% 0.05 297);
	--c-purplel4: oklch(87.5% 0.035 297);
	--c-purplel5: oklch(91.5% 0.02 297);
	--c-purplel6: oklch(95.5% 0.01 297);
	--c-p-text: light-dark(var(--c-purple),var(--c-purplel2));
	--c-p-texth: light-dark(var(--c-purpled1),var(--c-purplel3));
	--c-p-texta: light-dark(var(--c-purpled2),var(--c-purplel4));
	--c-p-bg: light-dark(var(--c-purplel6),var(--c-purpled3));
	--c-p-bgh: light-dark(var(--c-purplel5),var(--c-purpled2));
	--c-p-bga: light-dark(var(--c-purplel4),var(--c-purpled1));
	--c-p-invbg: var(--c-purple);
	--c-p-invbgh: var(--c-purpled1);
	--c-p-invbga: var(--c-purpled2);
	--c-p-border: var(--c-purplel1);
	--c-p-borderh: light-dark(var(--c-purple),var(--c-purplel2));
	--c-p-bordera: light-dark(var(--c-purpled1),var(--c-purplel3));

	--c-redd3: oklch(26% 0.05 25);
	--c-redd2: oklch(34% 0.08 25);
	--c-redd1: oklch(47% 0.14 25);
	--c-red: oklch(53% 0.17 25);
	--c-redl0: oklch(58% 0.18 25);
	--c-redl1: oklch(63% 0.2 25);
	--c-redl2: oklch(71.5% 0.16 25);
	--c-redl3: oklch(80% 0.12 25);
	--c-redl4: oklch(87.5% 0.065 25);
	--c-redl5: oklch(91.5% 0.04 25);
	--c-redl6: oklch(95.5% 0.02 25);
	--c-r-text: light-dark(var(--c-red),var(--c-redl2));
	--c-r-texth: light-dark(var(--c-redd1),var(--c-redl3));
	--c-r-texta: light-dark(var(--c-redd2),var(--c-redl4));
	--c-r-bg: light-dark(var(--c-redl6),var(--c-redd3));
	--c-r-bgh: light-dark(var(--c-redl5),var(--c-redd2));
	--c-r-bga: light-dark(var(--c-redl4),var(--c-redd1));
	--c-r-invbg: var(--c-red);
	--c-r-invbgh: var(--c-redd1);
	--c-r-invbga: var(--c-redd2);
	--c-r-border: var(--c-redl1);
	--c-r-borderh: light-dark(var(--c-red),var(--c-redl2));
	--c-r-bordera: light-dark(var(--c-redd1),var(--c-redl3));
	--c-r-bright: var(--c-redl1);
	--c-r-brighth: var(--c-redl0);
	--c-r-brighta: var(--c-red);

	--c-oranged3: oklch(26% 0.05 50);
	--c-oranged2: oklch(36% 0.08 50);
	--c-oranged1: oklch(51% 0.12 50);
	--c-orange: oklch(59% 0.14 50);
	--c-orangel1: oklch(69% 0.17 50);
	--c-orangel2: oklch(76.5% 0.13 50);
	--c-orangel3: oklch(81% 0.1 50);
	--c-orangel4: oklch(88.5% 0.065 50);
	--c-orangel5: oklch(91.5% 0.04 50);
	--c-orangel6: oklch(95.5% 0.02 50);
	--c-o-text: light-dark(var(--c-orange),var(--c-orangel2));
	--c-o-texth: light-dark(var(--c-oranged1),var(--c-orangel3));
	--c-o-texta: light-dark(var(--c-oranged2),var(--c-orangel4));
	--c-o-bg: light-dark(var(--c-orangel6),var(--c-oranged3));
	--c-o-bgh: light-dark(var(--c-orangel5),var(--c-oranged2));
	--c-o-bga: light-dark(var(--c-orangel4),var(--c-oranged1));
	--c-o-invbg: var(--c-orange);
	--c-o-invbgh: var(--c-oranged1);
	--c-o-invbga: var(--c-oranged2);
	--c-o-border: var(--c-orangel1);
	--c-o-borderh: light-dark(var(--c-orange),var(--c-orangel2));
	--c-o-bordera: light-dark(var(--c-oranged1),var(--c-orangel3));

	--c-yellowd3: oklch(26% 0.05 80);
	--c-yellowd2: oklch(36% 0.08 80);
	--c-yellowd1: oklch(51% 0.1 80);
	--c-yellow: oklch(59% 0.12 80);
	--c-yellowl1: oklch(69% 0.14 80);
	--c-yellowl2: oklch(76.5% 0.1 80);
	--c-yellowl3: oklch(81% 0.08 80);
	--c-yellowl4: oklch(88.5% 0.065 80);
	--c-yellowl5: oklch(91.5% 0.04 80);
	--c-yellowl6: oklch(95.5% 0.02 80);
	--c-y-text: light-dark(var(--c-yellow),var(--c-yellowl2));
	--c-y-texth: light-dark(var(--c-yellowd1),var(--c-yellowl3));
	--c-y-texta: light-dark(var(--c-yellowd2),var(--c-yellowl4));
	--c-y-bg: light-dark(var(--c-yellowl6),var(--c-yellowd3));
	--c-y-bgh: light-dark(var(--c-yellowl5),var(--c-yellowd2));
	--c-y-bga: light-dark(var(--c-yellowl4),var(--c-yellowd1));
	--c-y-invbg: var(--c-yellow);
	--c-y-invbgh: var(--c-yellowd1);
	--c-y-invbga: var(--c-yellowd2);
	--c-y-border: var(--c-yellowl1);
	--c-y-borderh: light-dark(var(--c-yellow),var(--c-yellowl2));
	--c-y-bordera: light-dark(var(--c-yellowd1),var(--c-yellowl3));
	--c-y-bright: oklch(82% 0.16 80);
	--c-y-brighth: oklch(75.5% 0.15 80);
	--c-y-brighta: var(--c-yellowl1);

	--c-greend3: oklch(26% 0.03 170);
	--c-greend2: oklch(34% 0.06 170);
	--c-greend1: oklch(47% 0.09 170);
	--c-green: oklch(53% 0.12 170);
	--c-greenl1: oklch(63% 0.12 170);
	--c-greenl2: oklch(71.5% 0.1 170);
	--c-greenl3: oklch(80% 0.08 170);
	--c-greenl4: oklch(87.5% 0.06 170);
	--c-greenl5: oklch(91.5% 0.04 170);
	--c-greenl6: oklch(95.5% 0.02 170);
	--c-g-text: light-dark(var(--c-green),var(--c-greenl2));
	--c-g-texth: light-dark(var(--c-greend1),var(--c-greenl3));
	--c-g-texta: light-dark(var(--c-greend2),var(--c-greenl4));
	--c-g-bg: light-dark(var(--c-greenl6),var(--c-greend3));
	--c-g-bgh: light-dark(var(--c-greenl5),var(--c-greend2));
	--c-g-bga: light-dark(var(--c-greenl4),var(--c-greend1));
	--c-g-invbg: var(--c-green);
	--c-g-invbgh: var(--c-greend1);
	--c-g-invbga: var(--c-greend2);
	--c-g-border: var(--c-greenl1);
	--c-g-borderh: light-dark(var(--c-green),var(--c-greenl2));
	--c-g-bordera: light-dark(var(--c-greend1),var(--c-greenl3));
	--c-g-bright: oklch(72% 0.22 145);
	--c-g-brighth: oklch(67.5% 0.19 145);
	--c-g-brighta: oklch(63% 0.16 145);

	--c-ins-text: light-dark(#006400,oklch(70% 0.1 140));
	--c-ins-bg: light-dark(oklch(85% 0.1 140),oklch(35% 0.1 140));
	--c-del-text: light-dark(#8b0000,oklch(70% 0.15 30));
	--c-del-bg: light-dark(oklch(85% 0.1 30),oklch(35% 0.1 30));
}

@media print {
	:root, :host {
		print-color-adjust: exact !important;
		--c-lbg: white;
		--c-ltext: white;
	}
}