input {
	font-size: 1em;
	margin: 0.2em;
	color: inherit;
}

input::placeholder {
	color: inherit;
	opacity: 0.6;
}

input[type=submit] {
	color: revert;
}

input[type=checkbox] {
	width: 1em;
	height: 1em;
	vertical-align: middle;
}