.test-post {
	display: block;
	margin-block: 1em;
	inline-size: min(100%, 60em);
	box-sizing: border-box;
	margin-inline: auto;
	padding: 1.25em;
	padding-block-start: 1.2em;
	border-radius: 1em;
	background-color: var(--bg);
	border: 0.01em solid var(--b);
	color: var(--c);
	position: relative;
}

.test-post[data-color="0"] { --bg: var(--c-0-bg); --b: var(--c-0-bd); --c: var(--c-0-c); }
.test-post.int[data-color="0"]:not(:has(.noactive:hover)):hover { --bg: var(--c-0-bgh); --b: var(--c-0-bdh); }
.test-post.int[data-color="0"]:not(:has(.noactive:active)):active { --bg: var(--c-0-bga); --b: var(--c-0-bda); }
.test-post[data-color="1"] { --bg: var(--c-1-bg); --b: var(--c-1-bd); --c: var(--c-1-c); }
.test-post.int[data-color="1"]:not(:has(.noactive:hover)):hover { --bg: var(--c-1-bgh); --b: var(--c-1-bdh); }
.test-post.int[data-color="1"]:not(:has(.noactive:active)):active { --bg: var(--c-1-bga); --b: var(--c-1-bda); }
.test-post[data-color="2"] { --bg: var(--c-2-bg); --b: var(--c-2-bd); --c: var(--c-2-c); }
.test-post.int[data-color="2"]:not(:has(.noactive:hover)):hover { --bg: var(--c-2-bgh); --b: var(--c-2-bdh); }
.test-post.int[data-color="2"]:not(:has(.noactive:active)):active { --bg: var(--c-2-bga); --b: var(--c-2-bda); }
.test-post[data-color="3"] { --bg: var(--c-3-bg); --b: var(--c-3-bd); --c: var(--c-3-c); }
.test-post.int[data-color="3"]:not(:has(.noactive:hover)):hover { --bg: var(--c-3-bgh); --b: var(--c-3-bdh); }
.test-post.int[data-color="3"]:not(:has(.noactive:active)):active { --bg: var(--c-3-bga); --b: var(--c-3-bda); }
.test-post[data-color="4"] { --bg: var(--c-4-bg); --b: var(--c-4-bd); --c: var(--c-4-c); }
.test-post.int[data-color="4"]:not(:has(.noactive:hover)):hover { --bg: var(--c-4-bgh); --b: var(--c-4-bdh); }
.test-post.int[data-color="4"]:not(:has(.noactive:active)):active { --bg: var(--c-4-bga); --b: var(--c-4-bda); }
.test-post[data-color="5"] { --bg: var(--c-5-bg); --b: var(--c-5-bd); --c: var(--c-5-c); }
.test-post.int[data-color="5"]:not(:has(.noactive:hover)):hover { --bg: var(--c-5-bgh); --b: var(--c-5-bdh); }
.test-post.int[data-color="5"]:not(:has(.noactive:active)):active { --bg: var(--c-5-bga); --b: var(--c-5-bda); }
.test-post[data-color="6"] { --bg: var(--c-6-bg); --b: var(--c-6-bd); --c: var(--c-6-c); }
.test-post.int[data-color="6"]:not(:has(.noactive:hover)):hover { --bg: var(--c-6-bgh); --b: var(--c-6-bdh); }
.test-post.int[data-color="6"]:not(:has(.noactive:active)):active { --bg: var(--c-6-bga); --b: var(--c-6-bda); }
.test-post[data-color="7"] { --bg: var(--c-7-bg); --b: var(--c-7-bd); --c: var(--c-7-c); }
.test-post.int[data-color="7"]:not(:has(.noactive:hover)):hover { --bg: var(--c-7-bgh); --b: var(--c-7-bdh); }
.test-post.int[data-color="7"]:not(:has(.noactive:active)):active { --bg: var(--c-7-bga); --b: var(--c-7-bda); }
.test-post[data-color="8"] { --bg: var(--c-8-bg); --b: var(--c-8-bd); --c: var(--c-8-c); }
.test-post.int[data-color="8"]:not(:has(.noactive:hover)):hover { --bg: var(--c-8-bgh); --b: var(--c-8-bdh); }
.test-post.int[data-color="8"]:not(:has(.noactive:active)):active { --bg: var(--c-8-bga); --b: var(--c-8-bda); }
.test-post[data-color="9"] { --bg: var(--c-9-bg); --b: var(--c-9-bd); --c: var(--c-9-c); }
.test-post.int[data-color="9"]:not(:has(.noactive:hover)):hover { --bg: var(--c-9-bgh); --b: var(--c-9-bdh); }
.test-post.int[data-color="9"]:not(:has(.noactive:active)):active { --bg: var(--c-9-bga); --b: var(--c-9-bda); }

.test-post#newpost {
	background-color: color-mix(in oklch, var(--bg) 40%, transparent);
	border: 0.01em solid color-mix(in oklch, var(--b) 40%, transparent);
}

.title, .content, .info {
	margin-block: 0;
	text-align: left;
}

.info {
	float: inline-end;
}

.title *, .content * {
	display: inline-block;
}

.content * {
	padding-block-start: 0.2em;
}

.info.dateid {
	opacity: 0.6;
}

.input {
	display: block;
	text-align: start;
}

.input br {
	display: none;
}

#titleinput:empty:before {
	content: '제목 입력...';
	opacity: 0.6;
	cursor: text;
}

#contentinput:empty:before {
	content: '내용 입력...';
	opacity: 0.6;
	cursor: text;
}

.colorradio {
	--b: var(--bg);
	width: 1.5em;
	height: 1.5em;
	appearance: none;
	border-radius: 50%;
	background-color: var(--b);
	box-sizing: border-box;
	margin-block: 0;
	cursor: pointer;
}

.colorradio:checked {
	border: 0.2em solid var(--sel);
	box-shadow: inset 0 0 0 0.2em var(--b);
	background-color: var(--sel);
}

.colorradio:hover {
	--b: var(--bgh);
}

.colorradio:active {
	--b: var(--bga);
}

#temp-posts {
	display: none;
}