.bg {
	position: fixed;
	inset: 0;
	z-index: -1;
	background: url('../img/area/areabg.png');
	background-size: 100% 100%;
}

.title { color: var(--c-ltext); line-height: 100%; }

.areatext {
	transition: opacity 1s;
	width: 910px;
	max-width: calc(100vw - 70px);
	aspect-ratio: 3;
	position: absolute;
	inset: 0;
	margin: auto;
	background: url('../img/area/areatext.png');
	background-size: cover;
	background-position: center;
}

@media screen and (max-width: 480px) {
	.areatext {
		top: calc(4.8rem + 315px);
	}
}