html {
    background-color: var(--c-bg);
}

body {
    height: 100vh;
    background: none;
}

.bg {
    position: fixed;
    inset: 0;
    z-index: -1;
    background: url('../img/area/areabg.png');
    background-size: 100% 100%;
}

header {
    position: absolute;
    width: 100vw;
}

.title {
    color: var(--c-ltext);
    margin-right: 0.25rem;
    font-size: 0.6rem;
    line-height: 100%;
    word-break: keep-all;
}

.areatext {
    transition: opacity 1s;
    width: 6.5rem;
    max-width: calc(100vw - 0.5rem);
    aspect-ratio: 3;
    position: absolute;
    left: 50%;
    top: 50vh;
    transform: translate(-50%, -50%);
    margin: auto;
    background: url('../img/area/areatext.png');
    background-size: cover;
    background-position: center;
}

.about {
    position: relative;
    top: 100vh;
}

.about-tile {
    height: 1.8rem;
    box-shadow: none;
}

.about-tile::after {
    box-shadow: none;
}

.tile {
    --glow0: var(--c-text);
    --glow1: transparent;
    --glow2: transparent;
    --glow3: transparent;
    --glow4: transparent;
}

.tile-img {
    display: block;
    position: absolute;
    inset: 0;
}

.tile-icon {
    display: block;
    position: absolute;
    top: 27%;
    left: 25%;
    width: 50%;
    height: 50%;
    object-fit: contain;
    object-position: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.tile-flex {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.2rem;
    color: var(--c-ltext);
}

.item-eyebrow {
    margin: 0;
    opacity: 0.8;
    margin-bottom: 0.057rem;

    font-size: 0.1rem;
    font-weight: 600;
    line-height: 1.28571;
    letter-spacing: .011em;
}

.item-headline {
    margin: 0;
    margin-bottom: 0.086rem;

    font-size: 0.286rem;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: -.003em;
}

.item-description {
    opacity: 0.8;
    margin: 0;
    margin-bottom: 0.171rem;

    font-size: 0.121rem;
    font-weight: 400;
    line-height: 1.47059;
    letter-spacing: -.022em;
}

.item-cta {
    margin-top: auto;

    font-size: 0.121rem;
    font-weight: 400;
    line-height: 1.47059;
    letter-spacing: -.022em;
}